<div class="form-group">
  <input
    [class.is-invalid]="ngControl?.touched && ngControl?.invalid"
    type="{{ type }}"
    class="form-control"
    [formControl]="ngControl.control"
    placeholder="{{ label }}"
  />
  <div
    *ngIf="ngControl.control && ngControl.control.errors?.required"
    class="invalid-feedback"
  >
    Please enter a {{ label }}
  </div>
  <div
    *ngIf="ngControl.control && ngControl.control.errors?.required"
    class="invalid-feedback"
  >
    {{ label }}
  </div>
  <div
    *ngIf="ngControl.control && ngControl.control.errors?.maxlength"
    class="invalid-feedback"
  >
    {{ label }}
    <!-- requiredLength cita sa validatora same komponente -->
  </div>
</div>

<!-- must be at least {{ ngControl.control.errors.minlength['requiredLength']}} -->

<!-- OLD WAY-->
<!--
    <div class="form-group"> umjesto ovoga ide <app-text-input></app-text-input>
    <input 
    [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched" 
    type="password" 
    class="form-control" 
    formControlName="password" 
    placeholder="Password">
    <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback">Please enter a password</div>
    <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="invalid-feedback">Password must be least 4 characters</div> 
    <div *ngIf="registerForm.get('password')?.hasError('maxlength')" class="invalid-feedback">Password must be at most 8 characters</div>  
</div>
-->
